
/*Fonts : family, size*/
.font-family-playfair{
    font-family: 'Playfair Display', serif;
}
.font-family-work{
    font-family: 'Work Sans', sans-serif;
}
.font-family-georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.letter-spacing{
    letter-spacing: .4rem;
}
.size-branding{
    font-size: .8rem;
    font-weight: 800;
}

.bg-nav-active{
    position: absolute;
    top: 0.5rem;
    right: 4rem;
}

.bg-grey-light{
    background-color: #f6f6f6;
}

/*Header*/
.logo{
    z-index: 10;
}
.bg-dark{
    height:100vh;
    width: auto;
}
.header-img{
    background-image: url(img/photo-header-big.jpg);
    background-repeat: no-repeat;
    margin:0 auto;
}
.header-text{
    margin-top:35vh;
}
/*NavBar*/
.navbar{
    width:auto;
    padding: 0;
}
 .navbar-toggler{
    border: none;
    outline: none !important;
    z-index: 10;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.down{
    /* margin-top: 30vh; */
    margin-top: 5rem;
}



/*section numbers*/
.section-numbers, .section-hopkins{
    background-image: url(img/pattern-bg.png);
}

.white-space-pre{
    white-space: pre;
}
.line-height-1{
    line-height: 1.3rem;
}

.font-size-14{
    font-size: .7rem;
}
.font-size-24{
    font-size: 1.2rem;
}
p{
    margin-bottom: 0 !important; 
    display: block;
}
/*carousel indicators*/
.carousel-indicators li{
    width: 6px;
    height: 6px;
    background-color: #d1d1d1;
}

.carousel-indicators .active{
    width: 10px;
    height: 10px;
    background-color: #171717;
}
.gallery-01{
    background-image: url(img/gallery-04.jpg);
    height: 250px;
}
.gallery-02{
    background-image: url(img/gallery-07.jpg);
    height: 250px;
}
.gallery-03{
    background-image: url(img/gallery-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 530px;
}
.gallery-04{
    background-image: url(img/gallery-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 530px;
}
.gallery-05{
    background-image: url(img/gallery-08.jpg);
    height: 250px;
}
.gallery-06{
    background-image: url(img/gallery-06.jpg);
    height: 250px;
}
.gallery-07{
    background-image: url(img/gallery-09.jpg);
    height: 250px;
}

.gallery-08{
    background-image: url(img/gallery-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 530px;
}
.gallery-09{
    background-image: url(img/gallery-07.jpg);
    height: 250px;
}
.gallery-01:hover, .gallery-02:hover, .gallery-03:hover, .gallery-04:hover, .gallery-05:hover, .gallery-06:hover, .gallery-07:hover, .gallery-08:hover, .gallery-09:hover{
    background-image: url(img/Vinyl-record.jpg);
}

/*CSS de Franck*/
.text-primary{
    color: #0f0f0f!important;
    font-weight: bold;
    font-family: 'Playfair Display', serif;}

.text-primary-a{
    color: #f7f1f1!important;
    font-family: 'Playfair Display', serif; }

.text-primary-b{
    color: rgb(143, 143, 143);
    font-family: 'Playfair Display', serif; }

.btn-primary{
    color: white;
    background-color: black;
    border-color: black;}

.logo-partenaires{
    padding: 60px 0;
}
.logo-partenaires{
    background-color: white;
}

.aa{
    padding: 110px 0;
    background-color: rgb(246, 246, 246);}

.height-c{
    height: 410px;
    background-color: rgb(12, 5, 5);}

.border-a{
    height: 70px;
    text-align: center;
    background-color: rgb(12, 5, 5)
}


figcaption {
    position: absolute ; 
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7)  ;
    left: 5px;
    right: 200px;
    bottom: 5px;
    color: white;
    font-size: 12px; }

figure {
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;}
























/*Media Queries*/

@media screen and (max-height : 690px){

    .header-text{
        margin-top:20vh;
    }
    .down{
    margin-top: 20vh;
    }
}

@media screen and (max-height : 400px){

    .header-text{
        margin-top:10vh;
    }
    .down{
    margin-top: 10vh;
    }
}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px){
    h1{
        font-size: 2rem !important;
    }
    .sub-title-h2{
        font-size: 1.8rem !important;
    }
}



