p{
    margin-bottom: 0 !important; 
    display: block;
}
/*Fonts : family, size*/
.font-family-playfair{
    font-family: 'Playfair Display', serif;
}
.font-family-work{
    font-family: 'Work Sans', sans-serif;
}
.font-family-georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.font-size-12{
    font-size: .6rem;
}
.font-size-14{
    font-size: .7rem;
}
.font-size-24{
    font-size: 1.2rem;
}
.font-size-contact{
    font-size: .9rem;
}
.font-weight-medium{
    font-weight: 600;
}
.letter-spacing{
    letter-spacing: .4rem;
}
.letter-spacing-h6{
    letter-spacing: .2rem;
}
.size-branding{
    font-size: .8rem;
    font-weight: 800;
}
.white-space-pre{
    white-space: pre;
}
.line-height-1{
    line-height: 1.3rem;
}
/* colors */
.bg-nav-active{
    position: absolute;
    top: 0.5rem;
    right: 4rem;
    width:100%;
}
.bg-black{
    background-color: #0c0c0c;
}
.bg-grey-light{
    background-color: #f6f6f6;
}
.color-grey-light{
    color: #e9e9e9;
}
.color-grey-medium{
    color: #5f5f5f;
}
.color-grey-dark{
    color: #171717;
}
.col-3{
    height:85px;
}

/*Header*/
.logo{
    z-index: 10;
}
.header-img{
    background-image: url(img/photo-header-big.jpg);
    background-repeat: no-repeat;
    margin:0 auto;
}

.header-text{
    margin-top:35vh;
}
/*NavBar*/
.navbar{
    width:auto;
    padding: 0;
}
 .navbar-toggler{
    border: none;
    outline: none !important;
    z-index: 10;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.down{
    margin-top: 5rem;
    width: 50px;
    height: 50px;
}

/*section numbers*/
.section-numbers, .section-hopkins{
    background-image: url(img/pattern-bg.png);
}

/*carousel indicators*/
.section-hopkins .carousel-indicators li{
    width: 6px;
    height: 6px;
}
.section-hopkins .carousel-indicators .active{
    width: 10px;
    height: 10px;
    background-color: #fff;
}
.latest-blog .carousel-indicators li{
    width: 6px;
    height: 6px;
    background-color: #d1d1d1;
}
.latest-blog .carousel-indicators .active{
    width: 10px;
    height: 10px;
    background-color: #171717;
}

/* images galery, hover */
.gallery-01, .gallery-02, .gallery-03, .gallery-04, .gallery-05, .gallery-06, .gallery-07, .gallery-08, .gallery-09{
    background-repeat: no-repeat;
    background-position: center;
}
.gallery-01{
    background-image: url(img/gallery-04.jpg);
    height: 250px;
}
.gallery-02{
    background-image: url(img/gallery-07.jpg);
    height: 250px;
}
.gallery-03{
    background-image: url(img/gallery-01.jpg);

    height: 530px;
}
.gallery-04{
    background-image: url(img/gallery-02.jpg);
    height: 530px;
}
.gallery-05{
    background-image: url(img/gallery-08.jpg);
    height: 250px;
}
.gallery-06{
    background-image: url(img/gallery-06.jpg);
    height: 250px;
}
.gallery-07{
    background-image: url(img/gallery-09.jpg);
    height: 250px;
}

.gallery-08{
    background-image: url(img/gallery-03.jpg);
    height: 530px;
}
.gallery-09{
    background-image: url(img/gallery-05.jpg);
    height: 250px;
}
.gallery-01:hover, .gallery-02:hover, .gallery-03:hover, .gallery-04:hover, .gallery-05:hover, .gallery-06:hover, .gallery-07:hover, .gallery-08:hover, .gallery-09:hover{
    background-image: url(img/Vinyl-record.jpg);
    background-color: white;
    background-position: center;
}


.logo-partenaires{
    padding: 60px 0;
}


/* cards */
.card-body{
    height: 17rem;
}
.img-card h6{
    /* top: 11.3rem; */
    bottom: 18rem;
    background-color: #252525;
}
.card-img-top{
    height:240px;
}
.card-img-1{
    background-image: url(img/snow.jpg);
    background-repeat: no-repeat;
}
.card-img-2{
    background-image: url(img/snow2.jpg);
    background-repeat: no-repeat;
    
}
.card-img-3{
    background-image: url(img/snow3.jpg);
    background-repeat: no-repeat;
}

/* Formulaire */
.btn-black{
    color: white;
    background-color: #252525;
    border-color: #252525;
}
.btn-black:hover{
    background-color: #000;
    border-color: #000;
}















/*Media Queries*/

@media screen and (max-height : 690px){

    .header-text{
        margin-top:20vh;
    }
    .down{
    margin-top: 20vh;
    }
}

@media screen and (max-height : 400px){

    .header-text{
        margin-top:10vh;
    }
    .down{
    margin-top: 10vh;
    }
}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px){
    h1{
        font-size: 2rem !important;
    }
    h4{
        font-size: 1.3rem;
    }
    .sub-title-h2{
        font-size: 1.8rem !important;
    }
    .card-text,p {
        font-size: .8rem;
    }
    .card-body{
        height: 10rem;
    }
    .card-img-top{
        height:260px;
    }
    .card-img-1{
        background-image: url(img/snow-sm.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .card-img-2{
        background-image: url(img/snow2-sm.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .card-img-3{
        background-image: url(img/snow3-sm.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .img-card h6{
        /* top: 11.3rem; */
        bottom: 10rem;
        background-color: #252525;
    }
}
@media screen and (max-width:576px){
    h2{
        font-size: 1.5rem;
    }
    .gallery-01, .gallery-02, .gallery-03, .gallery-04, .gallery-05, .gallery-06, .gallery-07, .gallery-08, .gallery-09{
        width:100%;
        height:250px;
    }
    .gallery-01:hover, .gallery-02:hover, .gallery-03:hover, .gallery-04:hover, .gallery-05:hover, .gallery-06:hover, .gallery-07:hover, .gallery-08:hover, .gallery-09:hover{
        width:100%;
        height:250px;
    }
    .gallery-01{
        background-image: url(img/gallery-04-sm.jpg);
    }
    .gallery-02{
        background-image: url(img/gallery-07-sm.jpg);
        }
    .gallery-03{
        background-image: url(img/gallery-01-sm.jpg);
    }
    .gallery-04{
        background-image: url(img/gallery-02-sm.jpg);
    }
    .gallery-05{
        background-image: url(img/gallery-08-sm.jpg);
    }
    .gallery-06{
        background-image: url(img/gallery-06-sm.jpg);
    }

   
    button{
        width:100%;
    }
    .logo-partenaires{
        padding: 10px 0;
    }
    .w-75{
        width:100% !important;
    }
    
}




